
<label>Username: </label>
<input type="text" class="forms-control" [(ngModel)]="inputUsername">
<br>
<label>Password: </label>
<input type="password" class="forms-control" [(ngModel)]="inputPassword">
<hr>
<p *ngIf="showSecret">{{details}}</p>
<hr>
<button class="btn btn-primary" (click)="getDetails()">Display Details</button>
<hr>
<div *ngIf="showSecret">
    <p *ngFor="let log of logEntries" 
        [ngStyle]="{backgroundColor: log.status == 'success' ? 'palegreen' : 'rgb(192, 80, 80)'}" 
        id="log">{{log.id}} {{log.username}} {{log.status}} {{log.dateTime}}</p>
</div>